
* {
  margin: 0;
  padding: 0;
}

body {
  touch-action: manipulation;
}

/* navbar section */
.navbar {
  position: relative;
  background-color: lightgray;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.2rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


.navbar__brand-container {
  position: fixed;
  top: 0;
  left: 1rem;
  z-index: 1;
}

.navbar__brand {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  padding: 10px;
}

.navbar__brand a {
  color: #FF8F73;
  text-decoration: none;
}

.navbar__brand a:hover {
  color: #FF8F80;
}

.navbar__brand {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.navbar__menu-toggle {
  display: none;
}

.navbar__menu {
  list-style: none;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  padding: 1rem 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.navbar__item {
  margin: 0;
  padding: 0;
  text-align: center;
 

}

.navbar__item a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: black;
 
}

.navbar__item a:hover {
  background-color: #fff;
  color: #333;
  background-color: #f5f5f5;
}

@media (max-width: 600px) {
  .navbar__menu {
    flex-direction: column;
    position: absolute;
    top: 4.5rem;
    left: 0;
    right: 0;
    visibility: hidden;
    background-color: lightgray;
    transition: max-height 0.2s ease-out;
    margin-bottom: 10px;
    display: block;
    justify-content: flex-end !important;
  }

  .navbar__menu.active {
    max-height: 30vh;
    margin-bottom: 10px;
    visibility: visible;
    z-index: 2000;
  }

  .navbar__item a {
    width: 100%;
  }

  .navbar__menu-toggle {
    display: block;
    position: absolute;
    right: 1rem;
  }

  .navbar__menu-toggle input {
    display: none;
  }

  .navbar__menu-toggle i {
    color: black;
    font-size: 1.5rem;
  }

  .navbar__item a {
    border: solid 1px;
  }
}


.components {
  display: flex;
  align-items: center;
  gap: 4em;
}
/* cart section */
.cart-icon {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  right: 50px;
}

.notification-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
}


.cart-dropdown.block {
  display: block !important;
  z-index: 4;
  z-index: 1000;
}
.cart-icon .cart-dropdown {
  display: none;
  position: absolute;
  top: 35px;
  right: 0;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000;
 
}

.cart-icon .cart-item {
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.cart-item {
  display: flex;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.cart-item img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-right: 16px;
}

.cart-item p{
  font-weight: bold;
  margin-bottom: 4px;
}

.cart-item-price {
  margin-bottom: 4px;
}

.cart-item button {
  background-color: transparent;
  border: none;
  color: #ff6b6b;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.cart-item-remove-button:hover {
  text-decoration: underline;
}



/* search section */
.search-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 960px; /* set the maximum width of the search container */
  margin: 0 auto; /* center the search container horizontally */
}

/* adjust the width of the search input container at different screen sizes */
@media screen and (min-width: 768px) {
  .search-input-container.expanded {
    max-width: 480px;
    margin-left: calc((100% - 480px) / 2);
  }
}

@media screen and (min-width: 1024px) {
  .search-input-container.expanded {
    max-width: 768px;
    margin-left: calc((100% - 768px) / 2);
  }
}


.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  color: #333;
  cursor: pointer;
}

.search-icon i {
  font-size: 1.2rem;
}

.search-input-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
}

.search-input-container.expanded {
  width: 100%;
  max-width: 30rem;
  padding: 0.5rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-input-container input {
  width: 83%;
  height: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  outline: none;
}

@media screen and (min-width: 768px) {
  .search-container {
   /* change width to auto for larger screens */
    max-width: 40rem; /* set a max-width for larger screens */
  }

  .search-input-container {
    top: 4rem; /* adjust top position for larger screens */
  }
}


.search-results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 1rem;
  height: 400px;
  overflow: scroll;
  margin: auto;
}

.search-results-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
  padding: .5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  height: fit-content;
}

.search-results-container div img {
  max-width: 100%;
  height: 270px;
  object-fit: contain;
}

.search-results-container div p:first-of-type {
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.search-results-container div p:last-of-type {
  color: #888;
  font-size: 0.8rem;
}

@media screen and (max-width: 768px) {
  .search-container {
    flex: 1;
  }

  .search-input-container {
    position: fixed;
    top: 6.3rem;
    z-index: 1000;
  }
  .search-input-container input {
    width: 60%;
  }
}

.close-button {
  position: absolute;
  top: 6%;
  right: 1rem;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  color: #843737;
  cursor: pointer;
  font-weight: bold;
}



@media (max-width: 768px) {
  .nav-brand,
  .nav-menu,
  .nav-notifications {
    display: inline-block;
  }
  .nav-menu {
    display: none;
  }
  .nav-notifications .bell-icon {
    display: block;
  }

 
  .button {
    font-size: 12px;
    margin: 1em;
  }
  
  .category-image img {
    width: 25% !important;
  }
  
  .category-left-image{
  left: .5rem !important;
  
  
}

.category-right-image{
  right: 20px !important;
 
}
.close-button {
  right:2em;
}

  
 
}

.social-media-container {
  display: flex;
  justify-content:center;
  align-items: center;
  
}

.social-media-container a {
  margin-left: 10px;
  font-size: 18px;
  color: #000;
  transition: color 0.2s ease-in-out;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  gap: 1rem;
  background-color: #000;
  
  
}

.social-icons a {
  color: #fff;
  font-size: 1.5rem;
  transition: color 0.2s ease-in-out;
  
  
}

.social-icons a:hover {
  color: #f9d9e0;
}



/* banner section */
.banner {
  background-color: #f8f8f8;
  text-align: center;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "image text";
  align-items: center;
  position: relative;
  z-index: 999;
}
.banner h1 {
  color: #333;
  font-size: 36px;
  margin: 0;
}
.banner h2 {
  color: #555;
  font-size: 24px;
  grid-area: text;
  margin: 1em;
}
.button {
  display: inline-block;
  background-color: orange;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}
.button:hover {
  background-color: #ff9000;
}
.banner img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  grid-area: image;
}
@media (max-width: 768px) {
  .banner {
      grid-template-columns: 1fr;
      grid-template-areas: "image" "text";
      text-align: center;
  }
  .banner h2 {
      margin: 1em 0;
  }
}

.services-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 50px;
  max-width: 1200px;
}

.services-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
  width: 100%;
  max-width: 250px;
}

.services-box i {
  font-size: 3rem;
  margin-bottom: 20px;
}

.services-box h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.services-box p {
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .services-box {
    width: calc(50% - 20px);
  }
  .services-container {
    gap: 5em;
  }
 
}

@media screen and (min-width: 992px) {
  .services-box {
    width: calc(33.33% - 20px);
  }
}

/* categories section */
.categories {
  margin: 2rem 0;
  position: relative;
}

.categories h2 {
  margin-bottom: 1rem;
  text-align: center;
  position: relative;
  z-index: 3;
}

.category-buttons , .size-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem;
 
}

.category-btn {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  color: #333;
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
  z-index: 3;
  
}

.btn-sm {
  font-size: .5rem;
}
.category-btn.active {
  background-color: #555;
  color: #eee;
}

.category-btn:hover {
  background-color: #333;
  color: #fff;
}

.size-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  width: 60%;
}

.size-buttons .btns {
  display: flex;
  align-content: center;
}
.category-image {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.category-image img {
  width: 11%;
  height: auto;
  display: block;
  position: absolute;
  border-radius: 30px;
}

.category-left-image{
  left: 50px;
  
}

.category-right-image{
  right: 50px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 4em;
  max-width: 1200px;
  margin: 0 auto;
}

.product {
  text-align: center;
  padding: 1em;
}

.product:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fadeIn   {
  animation-name: fadeIn;
  animation-duration: s;
}

.product-image-container {
  position: relative;
}

.product-image-container.open {
  width: 120%;
  height: 120%;
}

.product-image-container.closed {
  width: 100%;
  height: 100%;
}


.product-image {
  transition: all 0.5s ease;
  border-radius: 40px;
}
.product-image:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.product img {
  width: 100%;
  max-width: 200px;
  height: auto;
  object-fit: cover;
  margin-bottom: 1em;
  transition: transform 0.3s ease-out;
}

.product-image.underwear:hover{
  transform: scale(1.3);
  transition: transform 0.3 ease-out;
}


.product h3 {
  margin: 1rem 0;
  font-size: 1.5rem;
  text-align: center;
}

.category-title {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  color: #333;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.pagination button {
  border: none;
  background-color: #f7f7f7;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.pagination button:hover {
  background-color: #ececec;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


.product-action-button {
  display: block;
  margin: 1rem auto 0;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 1rem;
  background-color: #1b9aaa;
  color: white;
  cursor: pointer;
}

.product-action-button:hover {
  background-color: #106971;
}

.product:hover .product-action-container {
  opacity: 1;
  pointer-events: all;
}

/*about section */
.about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #f8f8f8;
}

.about-text {
  flex-basis: 100%;
  max-width: 800px;
  padding: 1rem;
}

.about-text h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about-text p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.about-text h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.about-text p:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .about-text {
    flex-basis: calc(50% - 1rem);
  }
}

#mapid {
  width: 100%;
  height: 150px; /* Set a default height */
}

@media (min-width: 768px) {
  #mapid {
    height: 500px;
  }
}

@media (min-width: 992px) {
  #mapid {
    height: 600px;
  }
}

@media (min-width: 1200px) {
  #mapid {
    height: 700px;
  }
}


